argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.1
bcrypt==3.2.2
cffi==1.15.0
Django==4.0.4
django-ckeditor==6.4.2
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-quill-editor==0.1.40
Faker==13.12.0
Pillow==9.1.1
pycparser==2.21
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.2
