{% extends 'blog/base.html' %}

<p> Hello</p>
{% block content %}
<title>About TellTales</title>


    <div class="content-box">
        <div class="title"><h1>Let Us Tell You Our Tale</h1></div>
        <div class="inside-content"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia optio veniam, tenetur dolor quia cum dicta esse voluptas maxime animi nostrum magnam quod architecto vitae nesciunt quam hic. Repellat, ab.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, dolores temporibus. Debitis laudantium consectetur aspernatur magni cupiditate, fugit alias consequuntur odio quidem, optio numquam maxime veniam nobis iste necessitatibus modi!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam perferendis laudantium, esse amet ipsum hic delectus maxime! Tempora quas, saepe, illum, ullam cupiditate molestiae nam sit sed neque dicta deleniti.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel doloribus dolorem labore, itaque non mollitia quod animi! Nisi consectetur totam ipsum, ab laudantium aspernatur nesciunt praesentium eligendi neque suscipit optio.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores laborum optio veritatis, ad similique quos facilis quas velit, nobis non, modi impedit exercitationem magnam. Molestias repellat nobis maxime officia praesentium.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum architecto rem eligendi, accusantium dicta facilis id, voluptatum vel, alias non deserunt temporibus. Consequuntur unde quis voluptatum dolores rerum ducimus esse.
        </p></div>
        <br>
        <div class="title"><h1>It Does Not End There...</h1></div>
        <div class="inside-content"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia optio veniam, tenetur dolor quia cum dicta esse voluptas maxime animi nostrum magnam quod architecto vitae nesciunt quam hic. Repellat, ab.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, dolores temporibus. Debitis laudantium consectetur aspernatur magni cupiditate, fugit alias consequuntur odio quidem, optio numquam maxime veniam nobis iste necessitatibus modi!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam perferendis laudantium, esse amet ipsum hic delectus maxime! Tempora quas, saepe, illum, ullam cupiditate molestiae nam sit sed neque dicta deleniti.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel doloribus dolorem labore, itaque non mollitia quod animi! Nisi consectetur totam ipsum, ab laudantium aspernatur nesciunt praesentium eligendi neque suscipit optio.
        </p></div>
        
    </div>
   



{% endblock %}